body{
    background-color:#3D4042;
    color: white;
    margin: 20px;
    max-width: 600px;
    margin: auto;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    
}

img{
    float: left;
    height: 40%;
    width: 40%;
    margin: 2px;
}
.column{
    
    margin: auto;
    float: left;
    
}
div{
    padding: 6px;
    margin: 10px;
    border: 2px;
    float: right;
}
hr.line{
    border-top: white;
}
h1.header{
    text-align: center;
    margin: 10px;
    padding: 3px;
}
a{
    color: pink;
}

.footer{
    text-align: center;
}